.App {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

header{
  
}

#contact-btn{
  background-color: #302ea0; /* Green */
border: 2px solid rgb(0, 0, 0);
color: white;
font-weight: 400;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
border-radius: 25px;
}
#contact-btn:hover{
  background-color: #2d2add;
  color: rgb(158, 179, 198);
}

.small-logo{
  height: 100px;
  width: 140px;
}

.card-link-card{
  background-color: lightblue;
  margin-top: 20px;
  border-radius: 25px;
  padding: 15px;
}

.card-link-card:hover{
  background-color: rgb(172, 172, 234);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.logo{
  height: 150px;
  width:400px
}